{% load static i18n %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>

  <body>
        <div class="container-flex text-center">
            <div hidden>{% csrf_token %}</div>
            <div class="row mt-2">
                <div class="col">
                    <h1>Hello World! today's date is {{ curr_dt }}</h1>
                </div>
            </div>
            <div class="row">
            <div class="w-100 justify-content-center">
                <div class="alert alert-danger" style="display: none;" role="alert"></div>
                <div class="alert alert-success" style="display: none;" role="alert"></div>
            </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h3>Enter an email address to create a new user</h3>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <input id="email-1-input" placeholder="Enter an email address" class="w-25"></input>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button id="email-1-btn" type="button" class="btn btn-primary">Create New User</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h3>Enter an email address to send a message</h3>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <input id="email-2-input" placeholder="Enter an email address" class="w-25"></input>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button id="email-2-btn" type="button" class="btn btn-primary">Send message to email</button>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <!-- Custom JS, requires jquery, sets the CSFR header for all AJAX requests -->
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrf_token = getCookie('csrftoken');

            $(function () {
                $.ajaxSetup({
                    headers: { "X-CSRFToken": csrf_token }
                });
            });
        </script>

        <!-- Instantiate our custom JavaScript object -->
        <script src="{% static 'ecs_example/js/emailUser.js' %}"></script>
        <script>emailUser();</script>
    </body>
</html>
